html, body {
  background: unset; 
  font-family: "helsingborg-sans-medium";
  font-weight: 400;
  font-size: 1rem;
}

header, footer, .global-content {
  display: none;
}

h2 {
  font-size: 22px;
  line-height: 1.33;
  margin-top: 0;
}
p {
  font-family: Roboto, sans-serif;
  line-height: 1.625;
  margin-top: 8px;
  
}
.field-question {
  color: #565656;
  font-weight: 700;
  font-size: .75rem;
  text-transform: uppercase;
}
.field-input {
  width: 100%;
}
.required-label {
  color: #d73740;
}
.editCitizenInfo .field-question, .servicecontent .page-fields .field-question {
  text-align: unset;
}  
.servicecontent .page-fields .field-question {
  margin: unset;
}
.servicecontent .field-row, .add-case-attachment .field-row {
  background: unset;
}
.abou-body
  margin: unset;
  box-shadow: unset;
  background: unset;
}

.abou-content-width {
  max-width: unset; 
}
