html, body {
  background: unset; 
  font-family: "helsingborg-sans-medium";
}

header, footer, .global-content {
  display: none;
}

.abou-body
  margin: unset;
  box-shadow: unset;
  background: unset;
}

.abou-content-width {
  max-width: unset; 
}
