html, body {
  background: unset; 
  font-family: "helsingborg-sans-medium";
}

header, footer, .global-content {
  display: none;
}

h2 {
  font-size: "22px";
}
p {
  font-family: Roboto, sans-serif;
}
.abou-body
  margin: unset;
  box-shadow: unset;
  background: unset;
}

.abou-content-width {
  max-width: unset; 
}
